name = "pfpk"
main = "src/index.ts"
compatibility_date = "2025-07-12"
compatibility_flags = ["nodejs_compat"]

routes = [
  { pattern = "pfpk.daodao.zone", custom_domain = true, zone_name = "daodao.zone" },
]

[[ d1_databases ]]
binding = "DB"
database_name = "pfpk"
database_id = "DB_ID"

# Secrets:
# - JWT_SECRET
